//$--font-path: '~element-ui/lib/theme-chalk/fonts';

.el-dialog {
  max-width: 1400px;
}

.el-collapse-item__header,
.el-collapse-item__wrap {
  background-color: transparent !important;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

button.el-button--text {
  color: #909399;
}

.el-slider {
  padding: 0 15px;
}

.vue-grid-item {
  .el-form-item {
    margin-bottom: 0 !important;
  }
  //.el-form,
  //.el-slider,
  //.el-form-item__content,
  //.el-form-item,
  //.el-col,
  //.el-row,
  //.el-form,
  //.el-textarea,
  //textarea {
  //  height: 100%;
  //}
}

.el-drawer__header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px !important;
  z-index: 10;
}

.el-drawer {
  will-change: transform;
}

.el-input-group__append {
  text-align: center;
}

.el-tree-node__content {
  height: 30px;
}

// Carousel
.el-carousel__item,
.el-carousel__mask {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.el-carousel__item {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}

.el-carousel__item.is-active {
  z-index: 2;
}

.el-carousel__item.is-animating {
  transition: transform 0.4s ease-in-out;
}

.el-carousel__item--card {
  width: 50%;
  transition: transform 0.4s ease-in-out;
}

.el-carousel__item--card.is-in-stage {
  cursor: pointer;
  z-index: 1;
}

.el-carousel__item--card.is-in-stage.is-hover .el-carousel__mask,
.el-carousel__item--card.is-in-stage:hover .el-carousel__mask {
  opacity: 0.12;
}

.el-carousel__item--card.is-active {
  z-index: 2;
}

.el-carousel__mask {
  width: 100%;
  background-color: #fff;
  opacity: 0.24;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
