@import './vender.scss';
@import './element.scss';
@import './transition.scss';
@import './tool.scss';
@import './space.scss';

body {
  font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft JhengHei UI',
    “微軟雅黑”, 'Microsoft YaHei', 'Microsoft YaHei UI', sans-serif;
  font-weight: lighter;
  color: #909399;
  overflow: hidden;
}

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

//.fake-transform.interact::-webkit-scrollbar {
//  display: none;
//}
//
//.fake-transform.interact {
//  -ms-overflow-style: none;
//  height: 100%;
//  width: calc(100vw + 18px);
//  overflow: auto;
//}

.svg-inline {
  width: 16px;
  fill: #909399;
  padding-left: 5px;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
  border: 2px solid rgba(98, 155, 255, 0.81);
}

.vue-resizable-handle {
  z-index: 100;
}
