@import './element.scss';
@import './transition.scss';
@import './tool.scss';
@import './space.scss';

body {
  font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft JhengHei UI', “微軟雅黑”, 'Microsoft YaHei',
    'Microsoft YaHei UI', sans-serif;
  font-weight: lighter;
  color: #909399;
  background-color: #e8edf8;
}

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}