@import './variable';
@import './prose-mirror';
@import './shodow.scss';
@import './transition.scss';
@import './tool.scss';
@import './space.scss';
@import './color.scss';
@import './element.scss';

body {
  color: #2c3e50;
  background-color: $color-white;
  font-family: Nunito Sans,Helvetica Neue,Helvetica,Arial,PingFang HK,\.PingFang-SC-Regular,PingFang,Hiragino Sans GB,STHeiti,Microsoft JhengHei,sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  word-break: break-word;
}

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

//.fake-transform.interact::-webkit-scrollbar {
//  display: none;
//}
//
//.fake-transform.interact {
//  -ms-overflow-style: none;
//  height: 100%;
//  width: calc(100vw + 18px);
//  overflow: auto;
//}

.svg-inline {
  width: 16px;
  fill: #909399;
  padding-left: 5px;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
  border: 2px solid rgba(98, 155, 255, 0.81);
}

.vue-resizable-handle {
  z-index: 100;
}
