.shadow-1 {
  box-shadow:
          -23px -23px 45px rgba(255,255,255,0.64),
          28px 28px 50px rgba(13, 39, 80, 0.16),
          inset -31px -31px 43px rgba(255,255,255, 0.64),
          inset 26px 26px 48px rgba(13, 39, 80, 0.16);
}

.shadow-2 {
  background-color: $color-white;
  box-shadow:
          -10px -10px 30px rgba(255,255,255,1),
          10px 10px 30px rgba(174, 174, 192, 0.6);
}

.shadow-3 {
  box-shadow:
          -10px -10px 30px rgba(255,255,255,0.64),
          10px 10px 30px rgba(174, 174, 192, 0.4),
          inset -10px -10px 10px rgba(174, 174, 192, 0.25),
          inset 10px 10px 10px rgba(255,255,255,0.64);
}

.shadow-4 {
  box-shadow: inset -5px -5px 30px white, inset 5px 5px 20px rgba(174, 174, 192, 0.65);
  border: 1px solid #efeff5;
  border-radius: 5px;
}

.shadow-button {
  border: 1px solid rgba(243,247,250,.05);
  font-weight: initial;
  transition: box-shadow 0.4s ease;
  box-shadow:
          -3px -3px 10px rgba(255,255,255, 1),
          3px 3px 10px rgba(174, 174, 192, 0.4);
  &:hover {
    box-shadow:
            -3px -3px 10px rgba(255,255,255,0.7),
            3px 3px 10px rgba(174, 174, 192, 0.2);
  }
}
.shadow-buttons {
  & button {
    @extend .shadow-button
  }
}

.shadow-circle {
  border-radius: 50%;
  box-shadow:
          -20px -20px 20px rgba(255,255,255, 66%),
          10px 10px 20px rgba(174, 174, 192, 0.4),
          inset 4px 4px 6px rgba(255,255,255, 66%);
}