.link {
  color: $color-active;
  text-decoration-line: none;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.font-spacing {
  letter-spacing: 0.05rem;
}

.crucial {
  color: #ca0000;
}

.small-title {
  color: #606266 !important;
  font-size: 13px;
  line-height: 18px;
}

.gray-font {
  color: #606266 !important;
}

.gray-font-2 {
  color: #979ca5 !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

div.ProseMirror {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    margin: 0;
    font-weight: normal;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    line-height: 14px;
  }

  p:empty::after {
    content: '\00A0';
  }

  &__content {
    word-wrap: break-word;
  }

  * {
    caret-color: currentColor;
  }

  pre {
    padding: 10px;
    border-radius: 5px;
    background: $color-black;
    color: $color-white;
    font-size: 14px;
    overflow-x: auto;

    code {
      display: block;
    }
  }

  p code {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: rgba($color-black, 0.1);
    color: rgba($color-black, 0.8);
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  li > p,
  li > ol,
  li > ul {
    margin: 0;
  }

  a {
    color: inherit;
  }

  blockquote {
    border-left: 3px solid rgba($color-black, 0.1);
    color: rgba($color-black, 0.8);
    padding-left: 0.8rem;
    font-style: italic;

    p {
      margin: 0;
    }
  }

  img {
    max-width: 100%;
    border-radius: 3px;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  ul[data-type='todo_list'] {
    padding-left: 0;
  }

  li[data-type='todo_item'] {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 0.3rem;
  }

  .todo-checkbox {
    border: 2px solid $color-black;
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.4s background;
  }

  .todo-content {
    flex: 1;

    p {
      margin-top: 0;
    }

    > p:last-of-type {
      margin-bottom: 0;
    }

    > ul[data-type='todo_list'] {
      margin: 0.5rem 0;
    }
  }

  li[data-done='true'] {
    > .todo-content {
      > p {
        text-decoration: line-through;
      }
    }

    > .todo-checkbox {
      background-color: $color-black;
    }
  }

  li[data-done='false'] {
    text-decoration: none;
  }
}
