.link {
  color: blue;
  text-decoration-line: underline;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.font-spacing {
  letter-spacing: 1px;
}

.crucial {
  color: #ca0000;
}

.grey-font {
  color: #606266;
  font-size: 12px;
}
